# Dependencies
node_modules
**/node_modules
.pnpm-store

# Build
dist
.output
.nuxt
.data
apps/web/.nuxt
apps/web/.output
apps/api/dist

# Env
.env
.env.local
*.local

# IDE / OS
.DS_Store
.idea
.vscode
*.log

# Prisma
apps/api/prisma/*.db
apps/api/prisma/*.db-journal

# Test
coverage
